//
// MASTER THEME FILE
//


body {
	//min-width: 320px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222222;

	&.noscroll {
		overflow: hidden;
	}
}

html.noscroll,
html.noscroll body {
	overflow: hidden;
}

html.full_height,
html.full_height body {
	height: 100%;
}

@color_lui_blue: #00a0fd;


// WRAPS WHOLE SITE
.site_wrapper {
	overflow: hidden;
}


//
// PAYPAL DONATE BUTTON
//
.paypal_donate_button {
	padding: 10px 0;

	&:hover {
		opacity: 0.8;
	}
}


//
// SITE INTRO
//
.site_intro {
	height: 100%;
	background: url(/img/intro_test_4.jpg) center no-repeat #31373a;
	background-size: cover;

	// NAVIGATION
	// 
	nav.site_nav {
		display: none;

		@media (min-width:@grid_lg_start){
			display: block;

			padding: 25px 0 0 0;
			margin: 0;

			text-align: center;
			border-bottom: 0;

			.lui.clear.after();
		}

		// HOTDOG BUTTON (ON MOBILE DEVICES ONLY)
		a.hotdog {
			display: block;
			padding: 15px;
			cursor: pointer;
			font-size: 16px;
			color: white;
			text-decoration: none;
			background: rgba(0,0,0,0.4);
			.lui.user-select.none();

			@media (min-width:@grid_lg_start){
				display: none;
			}

			&:before {
				padding-right: 10px;
			}

			&:hover:before,
			&.active:before {
				color: #1398fe;
			}
		}

		// MENU ITSELF
		ul {
			list-style: none;
			margin: 0;
			padding: 0 0 10px 0;
			display: none;

			&.opened {
				display: block;
			}

			@media (min-width:@grid_lg_start){
				display: block;
				padding: 0;
			}

			@media (min-width:@grid_xl_start){
				float: right;
			}

			li {
				position: relative;
				display: block;

				&:before {
					position: absolute;
					top: 0;
					left: 20px;
					right: 20px;
					content: "";
					border-bottom: 1px solid rgba(255,255,255,0.1);

					@media (min-width:@grid_lg_start){
						display: none;
					}
				}

				&:first-child:before,
				&:last-child:before {
					display: none;
				}

				@media (min-width:@grid_lg_start){
					display: inline-block;
				}

				@media (min-width:@grid_xl_start){
					float: left;
					margin-left: 10px;
				}

				a {
					display: block;
					padding: 10px 20px;
					text-decoration: none;
					font-size: 17px;
					font-weight: 300;
					color: white;

					&:hover {
						color: #1398fe;
					}

					&.download {
						background: #0689ee;
						border-radius: 50px;
						color: white;

						&:hover {
							background: #097ad1;
						}
					}
				}
			}
		}
	}

	// INTRO TEXTS (HEADLINE, SHORT DESC)
	.texts {
		text-align: center;
		padding-bottom: 50px;

		@media (min-width:@grid_xl_start){
			text-align: left;
		}

		img.logo {
			width: 150px;
			padding: 20px 0 30px 20px;
			margin: 0 auto;

			@media (min-width:@grid_md_start){
				padding: 40px 0 60px 25px;
			}

			@media (min-width:@grid_xl_start){
				width: auto;
				margin: 0;
				padding: 40px 0 60px 0;
			}
		}

		h1 {
			padding: 0;
			text-transform: uppercase;
			color: white;
			line-height: 1;

			@media (min-width:@grid_md_start){
				line-height: 0.9;
			}

			span {
				display: block;
			}

			span:nth-child(1){
				font-size: 20px;

				@media (min-width:@grid_md_start){
					font-size: 25px;
				}

				@media (min-width:@grid_xl_start){
					font-size: 30px;
				}

				@media (min-width:@grid_xxl_start){
					font-size: 45px;
				}
			}

			span:nth-child(2){
				font-size: 22px;
				color: #1398fe;

				@media (min-width:@grid_md_start){
					font-size: 30px;
				}

				@media (min-width:@grid_xl_start){
					font-size: 40px;
				}

				@media (min-width:@grid_xxl_start){
					font-size: 50px;
				}
			}

			span:nth-child(3){
				font-size: 17px;

				@media (min-width:@grid_md_start){
					font-size: 20px;
				}

				@media (min-width:@grid_xl_start){
					font-size: 25px;
				}

				@media (min-width:@grid_xxl_start){
					font-size: 30px;
				}
			}
		}

		p {
			padding: 30px 0;
			font-size: 16px;
			font-weight: 300;
			line-height: 1.45;
			color: white;
			text-align: center;

			@media (min-width:@grid_md_start){
				font-size: 18px;
			}

			@media (min-width:@grid_xl_start){
				padding: 40px 0;
				font-size: 20px;
				max-width: 500px;
				text-align: left;
			}
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				display: inline-block;
				margin: 0 auto;

				&.spacer {
					padding: 15px 0;
					display: block;

					@media (min-width:@grid_lg_start){
						padding: 0;
						display: inline-block;
					}
				}

				span {
					padding: 0 7px;
					font-size: 16px;
					color: white;
				}

				a {
					display: block;
					padding: 15px 20px;
					font-size: 16px;
					text-decoration: none;
					border-radius: 80px;

					&:before {
						padding-right: 5px;
					}

					&.primary {
						background: #1398fe;
						color: white;

						&:hover {
							background: #0090ff;
						}
					}

					&.secondary {
						background: #2f2f2f;
						color: white;

						&:hover {
							background: #202020;
						}
					}
				}
			}
		}
	}
}



//
// SITE HEADER - ONLY ON SUB PAGES
//
.site_header {
	padding: 10px 15px 20px 15px;
	background: url(/img/intro_test_4.jpg) center no-repeat #31373a;
	background-size: cover;
	text-align: center;

	@media (min-width:@grid_lg_start){
		padding: 30px 15px 40px 15px;
	}

	.logo {
		display: inline-block;
		margin: 0 auto;
		padding-left: 10px;

		@media (min-width:@grid_md_start){
			padding-left: 30px;
		}

		img {
			width: 80px;

			@media (min-width:@grid_md_start){
				width: 100px;
			}

			@media (min-width:@grid_lg_start){
				width: 150px;
			}
		}
	}

	.title {
		display: none;
		padding: 20px 0 0 0;
		font-size:17px;
		color: @color_lui_blue;

		@media (min-width:@grid_lg_start){
			display: block;
		}

		small {
			color: black;
		}
	}
}


//
// CONTENT STYLES "RESET"
//
ul,
ol {
	padding: 5px 0;
	margin-left: 30px;

	li {
		padding: 2px 0;
	}
}

hr {
	margin: 25px 0;
	border: 0;
	border-bottom: 5px solid #f2f2f2;
}

// TODO: USE LINKS FROM RESET
a {
	display: inline-block;
	position: relative;
	text-decoration: underline;

	&:hover {
		color: @color_lui_blue;
		text-decoration: none;
	}
}

// TODO: PUT DEFAULT STYLES IN RESET.LESS
code {
	padding: 3px;
	font-size: 14px;
	background: #dfe8ec;
	color: black
}


//
// SITE SIDEBAR
//
aside.site_sidebar {
	position: relative;
	padding: 15px 15px 0 15px;

	@media (min-width:@grid_lg_start){
		padding: 20px 15px;
	}

	.mobile_warning {
		padding: 15px;
		margin-bottom: 15px;
		font-size: 13px;
		background: #fbb951;
		color: #38260a;

		@media (min-width:@grid_md_start){
			display: none;
		}
	}

	/*.hotdog {
		display: block;
		width: 100%;
		border: 0;
		padding: 15px;
		cursor: pointer;
		background: #d9e3ea;
		font-size: 15px;
		font-weight: bold;
		text-align: left;
		outline: none;
		color: #142530;
		.lui.user-select.none();

		@media (min-width:@grid_lg_start){
			display: none;
		}

		&:before {
			padding-right: 10px;
		}

		&:hover {
			background: #c7d3dc;
		}

		&.active {
			background: #aec1cf;

			&:before {
				color: white;
			}
		}
	}*/

	h2 {
		padding: 10px;
		font-size: 18px;
		font-weight: bold;
		color: @color_lui_blue;
		background: white;
	}

	// SHOP/HIDE MENU ON MOBILE DEVICES
	.menu_wrapper {
		display: none;

		/*&.opened {
			display: block;
		}*/

		@media (min-width:@grid_lg_start){
			display: block;
		}
	}

	// FIRST LEVEL - LIST
	.menu_wrapper > ul {
		list-style: none;
		padding: 0px 0 5px 0;
		margin: 0;
		background: white;

		// FIRST LEVEL - ITEM
		& > li {
			display: block;
			padding: 0;

			// FIRST LEVEL - LINK
			& > a {
				display: block;
				padding: 10px;
				border-bottom: 1px solid #f2f2f2;
				font-size: 14px;
				text-decoration: none;

				&:before {
					padding-right: 6px;
				}

				&:hover {
					background: #f5f7f9;
					border-bottom-color: #f5f7f9;
					color: black;
				}

				&.active {
					background: @color_lui_blue;
					border-bottom-color: @color_lui_blue;
					color: white;
				}

				small {
					display: inline-block;
					padding: 2px 3px;
					float: right;
					background: #e79a4e;
					font-size: 10px;
					color: white;
				}

				&.active > small {
					background: #0290e3;
				}
			}

			// SECOND LEVEL - LIST
			& > ul {
				list-style: none;
				padding: 0 0 0 20px;
				margin: 0;
				border-bottom: 1px solid #f2f2f2;

				// SECOND LEVEL - ITEM
				& > li {
					padding: 0;
					border-bottom: 1px solid #f2f2f2;

					&:last-child {
						border-bottom: 0;
					}

					// SECOND LEVEL - LINK
					a {
						display: block;
						padding: 7px 10px;
						font-size: 13px;
						text-decoration: none;

						&:before {
							padding-right: 6px;
						}

						&:hover {
							background: #f5f7f9;
							border-bottom-color: #f5f7f9;
							color: black;
						}

						&.active {
							background: @color_lui_blue;
							color: white;
						}
					}
				}
			}
		}
	}
}


// MOBILE NAVIGATION
// EXTENDS .lui_phone_navbar
nav.site_nav_mobile {
	background: #1a1a1a;
	border-top-color: black;

	@media (min-width:@grid_lg_start){
		display: none;
	}

	a {
		width: 25%;

		&:not(.active):hover {
			background: rgba(0,0,0,0.2);
		}

		&:before {
			border-left-color: rgba(255, 255, 255, 0.2);
		}

		div {
			color: rgb(228, 228, 228);

			span:after {
				padding-left: 6px;
				font-size: 11px;
			}
		}

		&:not(.active):hover div {
			color: white;
		}
	}
}


//
// SITE CONTENT
//
.site_content {
	padding: 0 15px 20px 15px;

	@media (min-width:@grid_lg_start){
		padding: 0 15px 20px 0px;
	}

	img {
		margin: 7px 0;
		max-width: 100%;
		height: auto;
	}

	h1 {
		padding: 20px 0;
		font-size: 18px;
		font-weight: bold;
		color: @color_lui_blue;

		@media (min-width:@grid_md_start){
			font-size: 22px;
		}

		@media (min-width:@grid_lg_start){
			font-size: 32px;
		}

		span {
			color: #2b2b2b;
		}

		// INTRO TITLE
		&.intro_title {
			text-align: center;
			padding: 40px 0;
			font-size: 22px;

			@media (min-width:@grid_md_start){
				font-size: 32px;
			}

			@media (min-width:@grid_lg_start){
				font-size: 42px;
			}

			span {
				display: block;
				font-weight: normal;
				font-size: 18px;

				@media (min-width:@grid_md_start){
					font-size: 28px;
				}
			}
		}
	}

	h2 {
		padding: 15px 0;
		font-size: 20px;
		font-weight: 400;
		color: #00a0fd;

		@media (min-width:@grid_md_start){
			font-size: 20px;
		}

		@media (min-width:@grid_lg_start){
			font-size: 24px;
		}
	}

	h3 {
		padding: 10px 0;
		font-size: 14px;
		font-weight: 300;
		color: #00a0fd;

		@media (min-width:@grid_md_start){
			font-size: 18px;
		}

		@media (min-width:@grid_lg_start){
			font-size: 20px;
		}
	}

	p {
		padding: 15px 0;
		font-weight: 300;

		strong {
			font-weight: 500;
		}
	}

	ul {
		font-weight: 300;
	}
}


//
// SITE FOOTER
//
.site_footer {
	padding: 15px;
	text-align: center;
	font-size: 14px;
	border-top: 5px solid #f2f2f2;
	color: gray;
	font-weight: 300;
}


//
// DEMO SOURCE
//
pre.demo_source {
	margin: 15px 0;
	tab-size: 4;

	&:before {
		display: block;
		padding: 7px 15px;
		margin: -15px -15px 15px -15px;
		background: #1d1e1f;
		color: white;
		content: attr(data-title);
		font-family: inherit;
		font-size: 13px;
		font-weight: bold;
	}
}

//
// DEMO TITLE
//
.demo_title {
	padding: 30px 0;
	text-align: center;
	font-size: 24px;
	color: @color_lui_blue;
}

.demo_description {
	padding: 15px 0;
	text-align: center;
}


//
// DEMO RESULT
//
.demo_result {
	margin: 15px 0;
	padding: 0 15px 15px 15px;
	overflow: hidden;
	background: white;
	border: 1px solid #d9d9d9;

	&.enable-overflow {
		overflow: visible;
		.lui.clear.after();
	}

	&:before {
		display: block;
		padding: 7px 15px;
		margin: 0 -15px 15px -15px;
		background: #00a0fd;
		color: white;
		content: attr(data-title);
		font-size: 13px;
		font-weight: bold;
	}
}

//
// DEMO - OVERLAY PAGE (LUI-3_phone-navbar)
//
.overlay_demo_page {
	height: 100%;
	background: url(/img/photo_demo.jpg) center no-repeat;
	background-size: cover;
	padding: 15px;
	text-align: center;
	color: #403d37;

	a:hover {
		color: black;
	}
}


//
// GRID DEMOS
//
.demo.container {
	padding-top: 15px;
	padding-bottom: 15px;
	background: #eff2f5;
	min-height: 50px;
	border: 1px dashed #aeaeae;
	font-size: 14px;
	line-height: 1.6;
}

.demo.row {
	min-height: 50px;
	margin: 0; /* NEED SPACE */
}

.demo_col {
	padding: 15px;
	background: white;
	border: 1px solid #d1dde6;
}


//
// PREFIXER - FILTER - DEMOS
//
.demo_filter {
	width: 350px;

	img {
		display: block;
		width: 100%;
		max-width: 250px;
	}

	&.this {
		.lui.filter.this(blur(2px));
	}

	&.brightness {
		.lui.filter.brightness(180%);
	}

	&.contrast {
		.lui.filter.contrast(50%);
	}

	&.contrast2 {
		.lui.filter.contrast(150%);
	}

	&.grayscale {
		.lui.filter.grayscale(50%);
	}

	&.grayscale2 {
		.lui.filter.grayscale(150%);
	}

	&.hue-rotate {
		.lui.filter.hue-rotate(-50deg);
	}

	&.hue-rotate2 {
		.lui.filter.hue-rotate(150deg);
	}

	&.invert {
		.lui.filter.invert(100%);
	}

	&.saturate {
		.lui.filter.saturate(5);
	}

	&.sepia {
		.lui.filter.sepia(75%);
	}
}


//
// PREFIXER - GRADIENT - DEMOS
//
.demo_gradient {
	width: 200px;
	height: 120px;
	margin: 10px 0;

	&.this {
		.lui.gradient.linear.vertical(~"45deg, black 0%, white 50%, orange 100%");
	}

	&.vertical {
		.lui.gradient.linear.vertical(~"black 0%, white 50%, orange 100%");
	}

	&.horizontal {
		.lui.gradient.linear.horizontal(~"black 0%, white 50%, orange 100%");
	}

	&.diagonal {
		.lui.gradient.linear.diagonal.left2right(~"black 0%, white 50%, orange 100%");
	}

	&.diagonal2 {
		.lui.gradient.linear.diagonal.right2left(~"black 0%, white 50%, orange 100%");
	}

	&.radial_this {
		.lui.gradient.radial.this(~"black 0%, white 50%, orange 100%");
	}

	&.radial_this2 {
		.lui.gradient.radial.this(~"circle, black 0%, white 50%, orange 100%");
	}

	&.radial_repeat {
		.lui.gradient.radial.repeat(~"circle, black 0%, white 25%, orange 50%");
	}
}


//
// HLJS CODE HIGHLIGHTER
//
.hljs {
    display: block;
    overflow-x: auto;
	margin: 10px 0;
    padding: 15px;;
	font-size: 13px;
    background: #34393c;
	color: #cbdae4;

	&-subst {
		color: #abb7bf;
	}

	&-comment {
		color: #dd8b20;
	}

	&-keyword,
	&-attribute,
	&-selector-tag,
	&-meta-keyword,
	&-doctag,
	&-name {
		font-weight: bold;
		color: #869c43;
	}

	&-type,
	&-string,
	&-number,
	&-selector-id,
	&-selector-class,
	&-quote,
	&-template-tag,
	&-deletion {
		color: #00a0fd;
	}

	&-title,
	&-section {
		color: #00a0fd;
		font-weight: bold;
	}

	&-regexp,
	&-symbol,
	&-variable,
	&-template-variable,
	&-link,
	&-selector-attr,
	&-selector-pseudo {
		color: #BC6060;
	}

	&-literal {
		color: #78A960;
	}

	&-built_in,
	&-bullet,
	&-code,
	&-addition {
		color: #397300;
	}

	&-meta {
		color: #1f7199;
	}

	&-meta-string {
		color: #4d99bf;
	}

	&-emphasis {
		font-style: italic;
	}

	&-strong {
		font-weight: bold;
	}
}