//
// MASTER THEME FILE
//

/*
html.on_hp,
body.on_hp {
	height: 100%;
}*/

body {
	min-width: 320px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #222222;
}

@color_lui_blue: #00a0fd;


// WRAPS WHOLE SITE
.site_wrapper {
	overflow: hidden;
}


//
// SITE INTRO
//
.site_intro {
	height: 100%;
	background: url(/img/site_intro_demo.jpg) center top no-repeat #181818;
	background-size: cover;

	// NAVIGATION
	nav {
		display: none;
		text-align: center;
		padding: 25px 0 0 0;
		.lui.clear.after();

		@media (min-width:@grid_lg_start){
			display: block;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			
			@media (min-width:@grid_xl_start){
				float: right;
			}

			li {
				display: inline-block;

				@media (min-width:@grid_xl_start){
					float: left;
					margin-left: 10px;
				}

				a {
					display: block;
					padding: 10px 20px;
					text-decoration: none;
					font-size: 17px;
					color: white;

					&:hover {
						color: #1398fe;
					}

					&.download {
						background: #0689ee;
						border-radius: 50px;
						color: white;

						&:hover {
							background: #097ad1;
						}
					}
				}
			}
		}
	}

	// TEXTS
	.texts {
		text-align: center;
		padding-bottom: 150px;

		@media (min-width:@grid_xl_start){
			text-align: left;
		}

		img.logo {
			width: 150px;
			padding: 20px 0 30px 20px;
			margin: 0 auto;

			@media (min-width:@grid_md_start){
				padding: 40px 0 60px 25px;
			}

			@media (min-width:@grid_xl_start){
				width: auto;
				margin: 0;
				padding: 40px 0 60px 0;
			}
		}

		h1 {
			padding: 0;
			text-transform: uppercase;
			color: white;
			line-height: 1;

			@media (min-width:@grid_md_start){
				line-height: 0.9;
			}

			span {
				display: block;
			}

			span:nth-child(1){
				font-size: 20px;

				@media (min-width:@grid_md_start){
					font-size: 25px;
				}

				@media (min-width:@grid_xl_start){
					font-size: 45px;
				}
			}

			span:nth-child(2){
				font-size: 22px;
				color: #1398fe;

				@media (min-width:@grid_md_start){
					font-size: 30px;
				}

				@media (min-width:@grid_xl_start){
					font-size: 50px;
				}
			}

			span:nth-child(3){
				font-size: 17px;

				@media (min-width:@grid_md_start){
					font-size: 20px;
				}

				@media (min-width:@grid_xl_start){
					font-size: 30px;
				}
			}
		}

		p {
			padding: 30px 0;
			font-size: 16px;
			color: white;
			max-width: 500px;

			@media (min-width:@grid_md_start){
				font-size: 18px;
			}

			@media (min-width:@grid_xl_start){
				padding: 40px 0;
				font-size: 20px;
			}
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				display: inline-block;

				span {
					padding: 0 7px;
					font-size: 16px;
					color: white;
				}

				a {
					display: block;
					padding: 15px 20px;
					font-size: 16px;
					text-decoration: none;
					border-radius: 80px;

					&:before {
						padding-right: 5px;
					}
					
					&.primary {
						background: #1398fe;
						color: white;

						&:hover {
							background: #0090ff;
						}
					}

					&.secondary {
						background: #2f2f2f;
						color: white;

						&:hover {
							background: #202020;
						}
					}
				}
			}
		}
	}


	// PREVIEW
}


//
// SITE FEATURES
//
.site_features {
	//padding: 20px 0;

	.row {
		padding: 50px 0;
	}

	.image {

	}

	.texts {
		h2 {
			padding: 0 0 15px 0;
			font-size: 28px;
			color: #1398fe;
		}

		p {
			font-size: 18px;
			color: #2f2f2f;
		}
	}
}


//
// SITE DOWNLOAD
//
.site_download {
	background: #efefef;
	padding: 50px 0;
	text-align: center;

	h3 {
		padding: 0 0 30px 0;
		font-size: 50px;
		font-weight: bold;
		//text-transform: uppercase;
		color: black;
	}

	p {
		padding: 0 0 40px 0;
		font-size: 16px;
		color: #262626;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			display: inline-block;

			span {
				padding: 0 7px;
				font-size: 16px;
				color: gray;
			}

			a {
				display: block;
				padding: 15px 20px;
				font-size: 16px;
				text-decoration: none;
				border-radius: 80px;

				&:before {
					padding-right: 5px;
				}
				
				&.primary {
					background: #1398fe;
					color: white;

					&:hover {
						background: #0090ff;
					}
				}

				&.secondary {
					background: #2f2f2f;
					color: white;

					&:hover {
						background: #202020;
					}
				}
			}
		}
	}
}


//
// SITE HEADER
//
.site_header {
	padding: 10px 15px 20px 15px;
	background: #f0f0f0;
	text-align: center;

	@media (min-width:@grid_lg_start){
		padding: 40px 15px 50px 15px;
	}

	.logo {
		display: inline-block;
		margin: 0 auto;
		padding-left: 30px;

		img {
			width: 100px;

			@media (min-width:@grid_lg_start){
				width: 150px;
			}
		}
	}

	

	.title {
		padding: 20px 0 0 0;
		font-size:17px;
		color: @color_lui_blue;

		small {
			color: black;
		}
	}
}


//
// CONTENT STYLES "RESET"
//
ul,
ol {
	padding: 5px 0;
	margin-left: 15px;

	li {
		padding: 2px 0;
	}
}

hr {
	margin: 25px 0;
	border: 0;
	border-bottom: 5px solid #f2f2f2;
}

// TODO: USE LINKS FROM RESET
a {
	display: inline-block;
	position: relative;
	text-decoration: underline;

	&:hover {
		color: @color_lui_blue;
		text-decoration: none;
	}
}


//
// SITE SIDEBAR
//
aside.site_sidebar {
	padding: 20px 15px;

	h2 {
		font-size: 18px;
		font-weight: bold;
		color: @color_lui_blue;
	}

	ul {
		list-style: none;
		padding: 10px 0 15px 0;
		margin: 0;

		li {
			a {
				display: block;
				padding: 7px 0;
				border-bottom: 1px solid #f2f2f2;
				font-size: 14px;
				text-decoration: none;

				&:before {
					padding-right: 6px;
				}

				&:hover {
					color: @color_lui_blue;
				}
			}
		}
	}
}


//
// SITE CONTENT
//
.site_content {
	padding: 0 15px 20px 15px;

	@media (min-width:@grid_lg_start){
		padding: 0 15px 20px 0px;
	}

	h1 {
		padding: 20px 0;
		font-size: 18px;
		font-weight: bold;
		color: @color_lui_blue;

		@media (min-width:@grid_md_start){
			font-size: 22px;
		}

		@media (min-width:@grid_lg_start){
			font-size: 32px;
		}

		span {
			color: #2b2b2b;
		}

		// INTRO TITLE
		&.intro_title {
			text-align: center;
			padding: 40px 0;
			font-size: 22px;

			@media (min-width:@grid_md_start){
				font-size: 32px;
			}

			@media (min-width:@grid_lg_start){
				font-size: 42px;
			}

			span {
				display: block;
				font-weight: normal;
				font-size: 18px;

				@media (min-width:@grid_md_start){
					font-size: 28px;
				}
			}
		}
	}

	h2 {
		padding: 15px 0;
		margin-bottom: 10px;
		font-size: 16px;
		font-weight: bold;
		color: #00a0fd;
		border-bottom: 2px solid #f2f2f2;

		@media (min-width:@grid_md_start){
			font-size: 20px;
		}

		@media (min-width:@grid_lg_start){
			font-size: 24px;
		}
	}

	h3 {
		padding: 10px 0;
		font-size: 14px;
		font-weight: normal;
		color: #00a0fd;

		@media (min-width:@grid_md_start){
			font-size: 18px;
		}

		@media (min-width:@grid_lg_start){
			font-size: 20px;
		}
	}

	p {
		padding: 7px 0;
	}
}


//
// SITE FOOTER
//
.site_footer {
	padding: 15px;
	text-align: center;
	font-size: 14px;
	border-top: 5px solid #f2f2f2;
	color: gray;
}


//
// DEMO SOURCE
//
pre.demo_source {
	/*padding: 10px;
	border: 1px solid silver;
	background: #f2f2f2;
	font-size: 13px;*/
	tab-size: 4;
}


//
// DEMO RESULT
//
.demo_result {
	margin: 7px 0;
	padding: 0 15px 15px 15px;
	border: 1px solid #d2dcef;
	border-radius: 5px;
	overflow: hidden;

	&:before {
		display: block;
		padding: 7px 15px;
		margin: 0 -15px 15px -15px;
		background: #00a0fd;
		color: white;
		content: attr(data-title);
		font-size: 13px;
		font-weight: bold;
	}
}


//
// HLJS CODE HIGHLIGHTER
//
.hljs {
    display: block;
    overflow-x: auto;
	margin: 10px 0;
    padding: 15px;;
	font-size: 13px;
    background: #F0F0F0;
	color: #8e8e8e;
}
.hljs,
.hljs-subst {
	color: #444;
}
.hljs-comment {
	color: #dd8b20;
}
.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
	font-weight: bold;
	color: #2481b7;
}
.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
	color: #00a0fd;
}
.hljs-title,
.hljs-section {
	color: #00a0fd;
	font-weight: bold;
}
.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
	color: #BC6060;
}
.hljs-literal {
	color: #78A960;
}
.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
	color: #397300;
}
.hljs-meta {
	color: #1f7199;
}
.hljs-meta-string {
	color: #4d99bf;
}
.hljs-emphasis {
	font-style: italic;
}
.hljs-strong {
	font-weight: bold;
}